.myGrid {

width: 100%;

height: 70%;

}

.tableoptions {
    border: solid 1px gray; 
    width: 170px; 
    text-align: center;
    font-weight: bold;
    color:white
}

.tableheader{
    background-color: whitesmoke; 
    border: solid 1px gray;
}