
<h2 style="align-content:center">All student information for sorting and filtering</h2>

<div ng-controller="ShowStudentsController">

    <div ui-grid="gridOptions" ui-grid-pagination class="myGrid" ui-grid-resize-columns></div>

</div>